body {
    font-family: "Roboto", sans-serif;
      margin: 0;
      padding: 20px;
   
   }
   
   .navbar {
     background-color: #28a745;
   }
   
   .navbar-brand img {
     height: 3rem;
   }
   
   .precios{
       text-align: right;
   }
   a {
    